:root {
    --main-text-color: #1f2020;
    --header-bg-color: #1878c2;
    --header-text-color: white;
    --section-heading-color: #84c0ee;
    --terminal-bg-color: #d9d9e0;
    --terminal-text-color: #ffffff;
    --terminal-border-color: #ffffff;
    --custom-list-color: red;
    --border-color: #2c2c2c;
    --border-radius: 10px;
    --padding-size: 20px;
    --body-background-color: #e2e7f0;
    --code-background-color: #c2c5c5;
    --code-background-color-bis: #9fa1a1;
}

.dark { 
    --main-text-color: #d9d9e0; 
    --header-bg-color: #1878c2; 
    --header-text-color: white; 
    --section-heading-color: #84c0ee; 
    --terminal-bg-color: #d9d9e0; 
    --terminal-text-color: #ffffff; 
    --terminal-border-color: #ffffff; 
    --custom-list-color: red; 
    --border-color: #2c2c2c; 
    --border-radius: 10px; 
    --padding-size: 20px; 
    --body-background-color: #1f2020;
    --code-background-color: #343636;
    --code-background-color-bis: #545757;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--main-text-color);
    max-width: 70%;
    margin: 0 auto;
    padding: 3rem;
    background-color: var(--body-background-color);
}

header {
    background-color: var(--header-bg-color);
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

header h1 {
    color: var(--header-text-color);
    margin: 0.2rem;
    font-size: 45px;
    font-family: libraregular;
}

header h1 a {
    color: var(--header-text-color);
    text-decoration: none;
}

header nav {
    display: inline-block;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

header nav ul li {
    margin-left: 4rem;
}

header nav details {
    display: flex;
    flex-direction: column; 
}

header nav a {
    color: var(--header-text-color);
    text-decoration: none;
}

.flag {
    width: 30px;
    height: auto;
}

#flag {
    padding-left: 500px;
}

main {
    padding-top: 4rem;
}

div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.selector {
    color: #fff;
    margin-top: 10px;
}

h1, h2 {
    color: var(--section-heading-color);
    margin-top: 80px;
}

.terminal-box {
    width: 800px;
    height: 400px;
    border: 1px solid var(--terminal-border-color);
    margin: 0 auto;
    padding: 10px;
    overflow: auto;
    background-color: var(--terminal-bg-color);
}

.terminal-prompt {
    white-space: pre;
    font-size: 14px;
    color: var(--terminal-text-color);
}

ul.custom-list {
    list-style-type: none;
    padding-left: 0;
}
ul.custom-list li::before {
    content: "•";
    color: var(--custom-list-color);
    font-weight: bold;
    margin-right: 5px;
}

.tutoriel-bordure {
    background-color: var(--code-background-color);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding-size); 
}

.tutoriel-code {
    background-color: var(--code-background-color);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding-size); 
}

#tutoriel-code-bis {
    background-color: var(--code-background-color-bis);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding-size); 
}

.tab {
    margin-left: 40px;
    display: inline-block;
}

tbody tr td a {
    color: #d9d9e0;
    text-decoration: none;
}

#disclaimer {
    font-style: italic;
    color: #999;
    font-size: 18px;
    margin-top: 20px;
}

#console {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.codearea {
    font-family: 'Courier New', monospace;
}

.codearea pre {
    margin: 0;
    display: inline;
    white-space: pre-wrap;
}

.codearea pre::before {
    content: '>>>';
    color: #9cd3ff;
    margin-right: 5px;
}

.details1 {
    background-color: #343636;
}
