:root {
    --main-text-color: #d9d9e0;
    --header-bg-color: #1878c2;
    --header-text-color: white;
    --section-heading-color: #1878c2;
    --terminal-bg-color: #d9d9e0;
    --terminal-text-color: #ffffff;
    --terminal-border-color: #ffffff;
    --custom-list-color: red;
    --border-color: #2c2c2c;
    --border-radius: 10px;
    --padding-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--main-text-color);
    max-width: 80%;
    margin: 0 auto;
    padding: 3rem;
    background-color: #1f2020;
}

header {
    background-color: var(--header-bg-color);
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: var(--header-text-color);
    margin: 0;
}

header h1 a {
    color: var(--header-text-color);
    text-decoration: none;
}

header nav {
    display: inline-block;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

header nav ul li {
    margin-left: 1rem;
}

header nav a {
    color: var(--header-text-color);
    text-decoration: none;
}

main {
    padding-top: 4rem;
}

div {
    margin-bottom: 1rem;
}

section h2 {
    color: var(--section-heading-color);
    margin-bottom: 1rem;
}

.terminal-box {
    width: 800px;
    height: 400px;
    border: 1px solid var(--terminal-border-color);
    margin: 0 auto;
    padding: 10px;
    overflow: auto;
    background-color: var(--terminal-bg-color);
}

.terminal-prompt {
    white-space: pre;
    font-size: 14px;
    color: var(--terminal-text-color);
}

ul.custom-list {
    list-style-type: none;
    padding-left: 0;
}
ul.custom-list li::before {
    content: "•";
    color: var(--custom-list-color);
    font-weight: bold;
    margin-right: 5px;
}

#tutoriel-bordure,
#tutoriel-code-bis,
#tutoriel-code {
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding-size); 
}

#tutoriel-bordure {
    background-color: #343636;
}

#tutoriel-code {
    background-color: #343636;
}

#tutoriel-code-bis {
    background-color: #545757;
}

.tab {
    margin-left: 40px;
    display: inline-block;
}

tbody tr td a {
    color: #d9d9e0;
    text-decoration: none;
}

#intro h2 {
    margin-top: 5rem;
}

#exemple_brython h2 {
    margin-top: 5rem;
}

#disclaimer {
    font-style: italic;
    color: #999;
    font-size: 18px;
    margin-top: 10px;
}

#console {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.codearea {
    font-family: 'Courier New', monospace;
}

.codearea pre {
    margin: 0;
    display: inline;
    white-space: pre-wrap;
}

.codearea pre::before {
    content: '>>>';
    color: #9cd3ff;
    margin-right: 5px;
}